# Portfolio Rebalancing

## Porfolio

### 1. Install specific library to get the stock price data

In [ ]:
#pip install yfinance plotly

In [ ]:
#pip install mpld3

### 2. Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import plotly.express as px

## I - Load historical stock price data (dividend included)

In [2]:
ticker_list = ['RI.PA', 'SU.PA', 'OR.PA', 'AI.PA', 'MC.PA', 'CAP.PA', 'BN.PA', 'AC.PA', 'SW.PA', 'TTE.PA']
data_ticker = yf.download(ticker_list, start='2018-01-01', end='2024-05-10')['Close']
data_ticker.head(10)

[*********************100%***********************]  10 of 10 completed

,AC.PA,AI.PA,BN.PA,CAP.PA,MC.PA,OR.PA,RI.PA,SU.PA,SW.PA,TTE.PA
Date,,,,,,,,,,
2018-01-02,43.480000,86.363632,68.970001,99.000000,241.300003,182.149994,130.250000,70.019997,81.301880,46.060001
2018-01-03,43.310001,87.024796,69.430000,101.000000,242.750000,182.850006,131.199997,70.959999,81.010864,46.560001
2018-01-04,43.599998,89.008263,70.459999,101.349998,245.600006,184.500000,131.250000,72.239998,81.156372,47.480000
2018-01-05,43.770000,89.752068,71.750000,102.500000,249.500000,186.899994,131.949997,73.239998,81.883904,47.825001
2018-01-08,44.380001,90.743797,71.269997,102.400002,245.500000,186.750000,132.300003,73.360001,81.520134,48.035000
2018-01-09,45.049999,90.826447,71.169998,104.400002,246.100006,188.300003,133.399994,74.480003,79.846809,48.299999
2018-01-10,45.139999,89.710747,69.040001,104.150002,242.000000,186.899994,131.850006,73.760002,80.283333,48.150002
2018-01-11,45.619999,88.512398,69.440002,105.349998,239.000000,184.649994,131.750000,73.660004,76.172768,48.145000
2018-01-12,45.799999,89.090912,69.589996,106.349998,242.149994,184.050003,130.949997,74.820000,77.591454,48.610001
2018-01-15,45.990002,89.338844,69.169998,106.300003,242.750000,184.449997,130.600006,74.580002,78.391747,48.575001

In [3]:
stocks = ['RI.PA', 'SU.PA', 'OR.PA', 'AI.PA', 'MC.PA', 'CAP.PA', 'BN.PA', 'AC.PA', 'SW.PA', 'TTE.PA']
data = data_ticker[stocks]
data.tail(10)

,RI.PA,SU.PA,OR.PA,AI.PA,MC.PA,CAP.PA,BN.PA,AC.PA,SW.PA,TTE.PA
Date,,,,,,,,,,
2024-04-25,141.500000,211.399994,435.750000,183.619995,778.000000,201.100006,59.299999,41.700001,79.000000,68.059998
2024-04-26,142.500000,217.350006,435.649994,185.179993,792.200012,203.100006,58.299999,42.279999,78.650002,69.480003
2024-04-29,142.149994,216.050003,436.500000,184.399994,779.200012,205.500000,58.660000,41.779999,82.050003,69.250000
2024-04-30,142.000000,215.100006,439.649994,183.880005,774.400024,197.899994,58.660000,41.310001,81.750000,68.589996
2024-05-02,140.699997,213.500000,436.700012,181.059998,767.000000,199.250000,59.459999,40.840000,80.099998,66.849998
2024-05-03,141.250000,216.300003,440.899994,180.619995,782.000000,202.600006,57.740002,41.049999,80.750000,66.360001
2024-05-06,141.300003,219.600006,443.000000,181.899994,781.700012,203.000000,58.099998,41.720001,81.150002,67.260002
2024-05-07,145.649994,221.500000,444.899994,183.979996,789.400024,205.100006,58.720001,41.610001,81.900002,67.070000
2024-05-08,148.500000,226.399994,447.049988,186.539993,787.900024,206.600006,59.320000,41.470001,82.650002,67.230003
2024-05-09,149.000000,229.750000,453.850006,186.960007,789.000000,205.500000,59.279999,40.470001,81.849998,68.349998

In [6]:
# Step 3: Calculate daily returns
returns_ticker = data_ticker.pct_change()
#returns_ticker[abs(returns_ticker['Close']['OR.PA']- returns_ticker['Adj Close']['OR.PA']) > 0.000001]
returns_ticker

,AC.PA,AI.PA,BN.PA,CAP.PA,MC.PA,OR.PA,RI.PA,SU.PA,SW.PA,TTE.PA
Date,,,,,,,,,,
2018-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-03,-0.003910,0.007656,0.006670,0.020202,0.006009,0.003843,0.007294,0.013425,-0.003579,0.010855
2018-01-04,0.006696,0.022792,0.014835,0.003465,0.011740,0.009024,0.000381,0.018038,0.001796,0.019759
2018-01-05,0.003899,0.008357,0.018308,0.011347,0.015879,0.013008,0.005333,0.013843,0.008965,0.007266
2018-01-08,0.013936,0.011050,-0.006690,-0.000976,-0.016032,-0.000803,0.002653,0.001638,-0.004443,0.004391
...,...,...,...,...,...,...,...,...,...,...
2024-05-03,0.005142,-0.002430,-0.028927,0.016813,0.019557,0.009618,0.003909,0.013115,0.008115,-0.007330
2024-05-06,0.016322,0.007087,0.006235,0.001974,-0.000384,0.004763,0.000354,0.015257,0.004954,0.013562
2024-05-07,-0.002637,0.011435,0.010671,0.010345,0.009850,0.004289,0.030785,0.008652,0.009242,-0.002825
2024-05-08,-0.003365,0.013915,0.010218,0.007314,-0.001900,0.004833,0.019567,0.022122,0.009158,0.002386
2024-05-09,-0.024114,0.002252,-0.000674,-0.005324,0.001396,0.015211,0.003367,0.014797,-0.009679,0.016659

In [7]:
# Step 4: Calculate expected returns and the covariance matrix
mean_returns_ticker = returns_ticker.mean()
cov_matrix_ticker = returns_ticker.cov()

In [8]:
mean_returns = mean_returns_ticker[stocks]
cov_matrix = cov_matrix_ticker[stocks][:len(stocks)]
cov_matrix

,RI.PA,SU.PA,OR.PA,AI.PA,MC.PA,CAP.PA,BN.PA,AC.PA,SW.PA,TTE.PA
AC.PA,0.000117,0.000184,0.000110,0.000107,0.000195,0.000190,0.000086,0.000472,0.000260,0.000206
AI.PA,0.000077,0.000139,0.000105,0.000168,0.000133,0.000118,0.000074,0.000107,0.000080,0.000100
BN.PA,0.000076,0.000077,0.000083,0.000074,0.000077,0.000068,0.000161,0.000086,0.000078,0.000060
CAP.PA,0.000107,0.000188,0.000120,0.000118,0.000180,0.000359,0.000068,0.000190,0.000145,0.000131
MC.PA,0.000138,0.000196,0.000172,0.000133,0.000325,0.000180,0.000077,0.000195,0.000130,0.000142
OR.PA,0.000114,0.000140,0.000213,0.000105,0.000172,0.000120,0.000083,0.000110,0.000082,0.000082
RI.PA,0.000181,0.000103,0.000114,0.000077,0.000138,0.000107,0.000076,0.000117,0.000100,0.000071
SU.PA,0.000103,0.000295,0.000140,0.000139,0.000196,0.000188,0.000077,0.000184,0.000127,0.000139
SW.PA,0.000100,0.000127,0.000082,0.000080,0.000130,0.000145,0.000078,0.000260,0.000399,0.000164
TTE.PA,0.000071,0.000139,0.000082,0.000100,0.000142,0.000131,0.000060,0.000206,0.000164,0.000345

### Portfolio cumulative return

In [ ]:
# Select a portfolio based on chosen weights
chosen_weights = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]  # Replace with your chosen weights

# Convert the returns and chosen_weights into DataFrames
returns_df = pd.DataFrame(returns)
chosen_weights_df = pd.DataFrame([chosen_weights], columns=stocks)

# Replace NaN values with zero in the returns DataFrame
returns_cleaned = returns_df.fillna(0)

# Calculate the portfolio returns for the chosen period
chosen_portfolio_returns = np.dot(returns_cleaned, np.transpose(chosen_weights_df))

# Calculate cumulative returns for the chosen portfolio
chosen_portfolio_cumulative_returns = (chosen_portfolio_returns + 1).cumprod() - 1

chosen_portfolio_percentage_returns = chosen_portfolio_cumulative_returns*100  # Convert to percentage

In [ ]:
chosen_portfolio_percentage_returns

### Weight stocks evolution above time

In [ ]:
chosen_portfolio_percentage_returns

#daily, calculate the new weights of each stock in portfolio
#display a graphic to see the evolution above time

## Graphic of the porfolio performance above time

In [ ]:
# Create a Plotly figure for portfolio performance over time
fig_portfolio = px.line(x=returns.index, y=chosen_portfolio_percentage_returns,
                        labels={'x': 'Date', 'y': 'Cumulative Returns'},
                        title='Portfolio Cumulative Return')

# Display the interactive portfolio performance figure
fig_portfolio.show()

In [ ]:
# Create a DataFrame for the portfolio performance
portfolio_df = pd.DataFrame(chosen_portfolio_percentage_returns, columns=['Portfolio'])

# Convert arrays to Series
portfolio_series = pd.Series(portfolio_df['Portfolio'])

In [ ]:
#Cumulative return of indexes

# Replace NaN values with zero in the returns DataFrame
returns_index_cleaned = returns_ticker[['XWD.TO', '^FCHI', '^GSPC', '^SP500TR', 'LYYA.F', 'GC=F']].fillna(0)

# Calculate cumulative returns for the chosen portfolio
index_cumulative_returns = (returns_ticker[['XWD.TO', '^FCHI', '^GSPC', '^SP500TR', 'LYYA.F', 'GC=F']] + 1).cumprod() - 1

index_series = index_cumulative_returns*100  # Convert to percentage

In [ ]:
# Reset the indices of both series
#portfolio_series = portfolio_series.reset_index(drop=True)
#index_series = index_series.reset_index(drop=True)

portfolio_series.index = index_series.index

# Concatenate the series into a DataFrame
combined_series = pd.concat([portfolio_series, index_series], axis=1)

# Rename the columns
combined_series.columns = ['Portfolio', 'XWD.TO', '^FCHI', '^GSPC', '^SP500TR', 'LYYA.F', 'GC=F']

# Print or do further operations with combined_df
print(combined_series)

## Graphic of the portfolio and indexes above time

In [ ]:
import plotly.graph_objects as go

# Create a line plot
fig = px.line(combined_series['Portfolio'], title='Portfolio vs Indexes Performance')

# Add traces for both Portfolio and XWD.TO
#fig.add_trace(go.Scatter(x=combined_series.index, y=combined_series['XWD.TO'], mode='lines', name='MSCI World'))
fig.add_trace(go.Scatter(x=combined_series.index, y=combined_series['^GSPC'], mode='lines', name='S&P 500'))
fig.add_trace(go.Scatter(x=combined_series.index, y=combined_series['LYYA.F'], mode='lines', name='MSCI World TR'))
fig.add_trace(go.Scatter(x=combined_series.index, y=combined_series['GC=F'], mode='lines', name='Gold'))
#fig.add_trace(go.Scatter(x=combined_series.index, y=combined_series['BTC-USD'], mode='lines', name='Bitcoin'))
#fig.add_trace(go.Scatter(x=combined_series.index, y=combined_series['Portfolio'], mode='lines', name='Portfolio'))

# Update layout if needed
fig.update_layout(
    xaxis_title='Date',
    yaxis_title='Returns',
    legend_title='Assets'
)

# Show the plot
fig.show()

## Monitor the weight of each stock in portfolio above time

In [ ]:
# Record the monthly performance of each asset
monthly_return_each_asset=[[]]
nb_month = 0

for i in range (1,combined_series.shape[0]):
    for j in len(ticker_list):
        if i == 0 : #if new asset (si i=0), no performance for month 0 (performance starts at month 1)
            monthly_return_each_asset[0][j] == 0
        else:
            monthly_return_each_asset[nb_month][j] = (1+monthly_return_each_asset[nb_month][j])*(1+combined_series[i][j])
            
        if i%30 == 0:
            nb_month += 1
        
monthly_return_each_asset

In [ ]:
# Now that we got the monthly performance of each asset
# We want to see the evolution of each asset weight in the portfolio

weights =  # same size as monthly_return_each_asset
initial_weight = [0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
temp_sum_perf = 0

for i in monthly_return_each_asset.shape[0]:
    for j in len(ticker_list):
        temp_weight_sum+=monthly_return_each_asset[i][j]
        
        weights[i][j] = monthly_return_each_asset[i][j]
     
    for j in len(ticker_list):
        weights[i][j]/=temp_sum_perf

## Graphic of the portfolio yearly rebalanced compared with initial porfolio and indexes

In [ ]:
# Assuming 'returns_ticker' is a DataFrame containing the returns of different assets
# 'rebalance_frequency' is set to 252 (assuming daily returns, with 252 trading days in a year, but here we set values to for weekend when other asset like Bitcoin get values)
# So, 365 trading in our case

rebalance_frequency = 252

# Initialize lists to store data for yearly rebalanced portfolio
yearly_rebalanced_returns = []
yearly_rebalanced_cumulative_returns = []

# Initialize a variable to keep track of rebalancing
rebalance_counter = 0

for i in range(len(returns_ticker)):
    # Check if it's time to rebalance
    if rebalance_counter == rebalance_frequency:
        # Rebalance the portfolio
        
        
        # ... (code for rebalancing logic)

        # Append the returns and cumulative returns after rebalancing
        yearly_rebalanced_returns.append(chosen_portfolio_returns[i])
        yearly_rebalanced_cumulative_returns.append(chosen_portfolio_cumulative_returns[i])
        
        # Reset the rebalance counter
        rebalance_counter = 0
    
    # Increment the rebalance counter
    rebalance_counter += 1

# Convert the yearly rebalanced returns to percentage format
yearly_rebalanced_percentage_returns = [r * 100 for r in yearly_rebalanced_returns]

# Calculate cumulative returns for yearly rebalanced portfolio
yearly_rebalanced_cumulative_returns = [(r + 1).cumprod() - 1 for r in yearly_rebalanced_returns]

## Graphic of the portfolio semesterly rebalanced compared with initial porfolio and indexes

## Graphic of the portfolio quaterly rebalanced compared with initial porfolio and indexes

## Graphic of the portfolio monthly rebalanced compared with initial porfolio and indexes

## Graphic of the portfolio yearly rebalanced compared with initial porfolio and indexes